/* ======================================
    Global Variables
========================================= */
:root {
     --seekerBaseColor: #4487C8;
     --seekerWhiteSmoke: #f3f3f3;
     --seekerBrightBlue: #3498db;
}

/* ======================================
    BASE CSS
========================================= */
html {
  scroll-behavior: smooth;
}


/* ======================================
  NAV
========================================= */
.settingsIcon {
  font-size: 24px;
}



/* ======================================
    REGISTRATION PAGE
========================================= */

