{% extends 'base.html' %}

{% block content %}
{% load static %}

{% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show pb-0" role="alert">
        <ul class="messages list-unstyled">
            <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                <strong>{{ message }}</strong>
            </li>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<div class='container py-5' style='max-width: 600px'>
    <div style="display: flex; align-items: center; gap: 1rem;">
        <img src="{% static 'images/user-tag-solid.svg' %}" alt="Upload Icon" class="upload-icon" style="width: 48px; height: 48px; margin-bottom: 1rem;">
        <h2 style="margin: 0; color: #4187C9;">Linktag</h2>
    </div>
    <br>
    <br>
    <h1>Upload Successful</h1>
    <p>Your CSV file has been uploaded and processed.</p>
    <a href='{% url 'seeker_roles_tags' %}'>
        <button type="button" class="btn btn-outline-primary mt-3">Next</button>
    </a>
</div>

{% endblock %}
